# Datasets Portal da Transparência da Mobilidade Urbana de Natal/RN

**Bilhetagem Eletrônica**

**Custos Operacionais**

**Itinerários**

**Horários Programados**

**Linhas**

**Paradas**

**Rotas**

-   Cidade do Natal
-   Conceição
-   Guanabara
-   Reunidas
-   Santa Maria
-   Via Sul

In [3]:
import pandas as pd

## Dataset Bilhetagem Eletrônica

http://dados.natal.br/dataset/bilhetagem-eletronica

Dados BE 2018 - Analitico
http://dados.natal.br/dataset/4fad551d-4d3b-4597-b8d3-7e887e22332e/resource/ec5b95a3-7b93-4346-98f6-1bd013faa651/download/dados-be-2018-analitico.csv

Dados BE 2019 - Analitico
http://dados.natal.br/dataset/4fad551d-4d3b-4597-b8d3-7e887e22332e/resource/0d4a0f0f-b8a5-46a0-acfe-bb9138c8eb9e/download/dados-be-2019-analitico.csv

## Download do arquivo csv
Vamos baixar o arquivo de 2018 com o comando wget
comando abaixo esta comentando em função do Windows 10 não possuir o comando.

In [5]:
#wget -c http://dados.natal.br/dataset/4fad551d-4d3b-4597-b8d3-7e887e22332e/resource/ec5b95a3-7b93-4346-98f6-1bd013faa651/download/dados-be-2018-analitico.csv

Verificar o arquivo baixado com o comando
*ls -lah dados-be**

In [ ]:
#ls -lah dados-be*

## Carregar o arquivo CSV

In [6]:
df = pd.read_csv("data\dados-be-2018-analitico.csv", encoding='iso-8859-1', sep=';', thousands=r'.')

Checar se o arquivo foi carregado exibindo os primeiros registros

In [7]:
df.head()

,Mês,Empresa,Linha,Estudante_Cartao,Estudante_BT,Vale_Transporte,Integracao_Plena,Integracao_Complementar,Gratuito_Cartao,Gratuito_BT,Inteira_Cartao,Inteira_Especie,Tarifa_Social,Qtd_Viagens
0,1,CONCEIÇÃO,21,13493,9506,35944,8671,0,17138,7397,6542,43727,3965,3684
1,1,CONCEIÇÃO,22,4644,3371,13088,3230,0,8109,3157,2529,15363,0,1737
2,1,CONCEIÇÃO,30,8519,5614,20580,5346,0,7265,3191,4415,21507,1537,2500
3,1,CONCEIÇÃO,31,9631,6020,23460,7587,0,7065,2922,5491,22212,140,2478
4,1,CONCEIÇÃO,41,6556,4038,20388,7924,0,5704,2791,3883,13870,0,2296